<%= gravatar_for @user, :class => "profile_avatar" %>
<h1><%=h @user.nickname %></h1>
<div class="games">
	<h2>Spellen die ik speel:</h2>
	<ul>
		<% @user.user_games_playing.each do |user_game| %>
		<li id="user_playing_#{dom_id(user_game.game)}">
			<%= link_to h(user_game.game.name), user_game.game %>, sinds <%= user_game.start_date %>
			<%= "[Meer info]" if user_game.game.support.features[:public_info?] %>
		</li>
		<% end %>
	</ul>
	<% if current_user %>
	<h2>Activiteiten</h2>
	<dl>
		<dt>Laatst gezien:</dt>
			<dd><% if s = @user.current_session 
				if (Time.now - s.session_end) > 30
				%><%=time_ago_in_words @user.current_session.session_end  %><%
				else %>Online<%
				end
			else %>Onbekend<%
			end
			%>
		</dd>
		<dt>Lidmaatschap:</dt>
			<dd><%= time_ago_in_words @user.created_at %> TFDer</dd>
		<% if @user.groups.size > 0 %>
		<dt>Lid van groepen:</dt>
			<% @user.groups.each do |group| %>
			<dd><%= h group.name %></dd>
			<% end %>
		<% end %>
	</dl>
	
	<% if @user.id != current_user.id %>
	<span id="friend_status">
		<% if current_user.watching? @user %>
		<%= link_to_remote "Verwijderen als vriend", :url => user_remove_buddy_path(@user), :method => :put %>
		<% else %>
		<%= link_to_remote "Als vriend toevoegen", :url => user_add_buddy_path(@user), :method => :put %>
		<% end %>
	</span>
	<%=link_to "Stuur bericht", new_message_path(:format => "facebox"), :rel => "remote" %>
	<% end %>
	<% end %>
</div>
