<tr id="<%=dom_id comment %>">
	<td class="state"><%="*" if comment.unread_reactions? @current_user %></td>
	<td class="icon">:-)</td>
	<td class="title"><%=link_to h(discussion_topic.title), board_discussion_topic_path(@board, discussion_topic) %></td>
	<td class="replies"><%= comment.content.replies.count %></td>
	<td class="author"><%=h comment.user.nickname %></td>
	<td class="last_post">
		<%= time_ago_in_words comment.updated_at %> ago
	</td>
</tr>