<p><%= link_to "&laquo; Terug naar forum", @board %></p>

<div class="topic">
	<div class="message">
  	<h3><%=h @topic.content.title %></h3>
	  <%=h @topic.content.body %>
	</div>
	<% if false # current_user %>
		<% if comment.user_id == current_user.id %>
			<ul class="item_options">
				<li><%= link_to "Bewerken", edit_game_comment_path(@game, comment), :rel => "remote" %></li>
				<li><%= link_to_remote "Verwijderen", :url => game_comment_path(@game, comment), :method => :delete, :confirm => "Weet u het zeker?" %></li>
				<!-- li><%= link_to "Rapporteren", "#" %></li -->
			</ul>
		<% end %>
	<% end %>
	<%= render :partial => "/boards/topics/topic_footer", :object => @topic, :locals => { :user_link_menu => true } %>
	<hr />
</div>

<h3><%=@topic.content.replies.count %> reacties</h3>

<ol class="shoutbox">
	<%=render :partial => @topic.content.replies %>
</ol>

<div id="new_reply">
<%= link_to "Nieuwe reactie plaatsen", new_board_text_reaction_path(@board, @topic) %>
</div>