<div id="message_menu">
	<ul>
		<li><%= link_to "Nieuw bericht", new_message_path, :rel => "remote" %></li>
		<li><%= link_to "Inbox" %></li>
		<li><%= link_to "Alle berichten" %></li>
		<li><%= link_to "Concepten" %></li>
		<li><%= link_to "Prullenbak" %></li>
	</ul>
</div>