<div>
	<ul>
		<li><%= link_to "Nieuw bericht" %></li>
		<li><%= link_to "Inbox" %></li>
		<li><%= link_to "Alle berichten" %></li>
		<li><%= link_to "Concepten" %></li>
		<li><%= link_to "Prullenbak" %></li>
	</ul>
</div>