<li id="<%= dom_id comment %>" class="comment">
		<%= render :partial => "user_info", :object => comment.user, :locals => { :user_link_menu => true } %>
		<div class="message">
			<%= h comment.content.comment %>
		</div>
		<% if current_user %>
			<% if comment.user_id == current_user.id %>
				<div class="edit_content">
					<%= h comment.content.comment %>
				</div>
				<ul class="comment_options">
					<li><%= link_to_remote "Bewerken", :url => edit_game_comment_path(@game, comment) %></li>
					<li><%= link_to_remote "Verwijderen", :url => game_comment_path(@game, comment), :method => :delete, :confirm => "Weet u het zeker?" %></li>
					<!-- li><%= link_to "Rapporteren", "#" %></li -->
				</ul>
			<% end %>
		<% end %>
		<hr />
</li>