	<div class="game" id="<%=dom_id game %>">
		<h2><%=h game.name %></h2>
		<div class="column">
			<p class="description"><%=h game.description %></p>
			
			<div class="averagerating box">
				<div class="averagerating score1" style="width: 50px;"></div>
			</div>
			
			<div class="play_options">
				<%= render :partial => "play_options", :locals => { :game => game } if current_user %>
			</div>
		</div>
		
		<div class="column">
			<ul class="imagebar">
				<li><%= image_tag "/images/no_image.jpg" %></li>
				<li><%= image_tag "/images/no_image.jpg" %></li>
				<li><%= image_tag "/images/no_image.jpg" %></li>
			</ul>			
			<p class="tags">Tags: <%= game.tags.collect { |tag| link_to h(tag.name), games_by_tagname_path(tag.name) }.join ", " %></p>
		</div>
		
		<ul class="game_menu">
			<li>Speler commentaar (<%= game.comments.count %>)</li>
			<li>Speler groepen</li>
			<li>Meer info</li>
			<li><%= link_to_remote "Bewerken", :url => edit_game_path(game) %></li>
			<li><%= link_to_remote "Verwijderen", :url => game, :method => :delete, :confirm => "Weet u zeker dat u het spel #{game.name} wilt verwijderen?" %></li>
		</ul>
	</div>
