<% if current_user %>
<div id="user_header">
<div class="stats" style="display: none">
	<p>Level: 1</p>
	<p>Credits: 200</p>
</div>
<%= gravatar_for current_user, :class => "avatar" %>
<div id="user_menu">
	<strong><%=h current_user.nickname %></strong><br />
	<%= link_to "Instellingen", settings_path %> - <%= link_to "Uitloggen", logoff_path %> - Help<br />
	<%= link_to "Berichten (0)", messages_path, :rel => "remote" %>
	- Vrienden (0)<br />		
</div>
</div>
<% else %>
<div id="login_header">
<div id="user_menu">
	<a class="rpxnow" onclick="return false;"
	   href="https://<%= RPX_REALM %>.rpxnow.com/openid/v2/signin?token_url=<%=CGI.escape(token_url) %>">Inloggen</a> - 
	
<% if false %>
	<% form_tag(sessions_url) do %>
  <label for="openid_identifier">OpenID:</label>
	<%= text_field_tag "openid_identifier" %>
	<%= submit_tag 'Log in' %>
  <% end %>
	<!-- BEGIN ID SELECTOR -->
	<script type="text/javascript" id="__openidselector" src="https://www.idselector.com/selector/796d7353866138a8eda25ec1efc2e80b67d2440c" charset="utf-8"></script>
	<!-- END ID SELECTOR -->
<% end %>
	<%= link_to "Registreren?", new_user_path %> - Help
</div>
</div>

<% end %>