<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Fryingdutch.net</title>
	<%= stylesheet_link_tag \
			'default', 
			'games', 
			'shoutbox',
			'facebox' 
	%>
	<%= stylesheet_link_tag 'default_colors' %>
	<%= javascript_include_tag \
			'jquery', 
			'jquery.livequery', 
			'jquery.lowpro', 
			'jquery.dimensions', 
			'jquery-ui', 
			'jrails',
			'facebox',
			'world_of_warcraft', 
			'application' 
	%>
</head>
<body>
	<div class="body">
		<%= link_to "Ga naar inhoud", { :anchor => "content" }, :class => "aurial" %>
		<div class="header">
			<h1>Fryingdutch.net</h1>
			<%= render :partial => "shared/user_header" %>
		</div>
		<%= render :partial => "shared/menu" %>
		<div class="content">
		<a name="content"></a>
		<% flash.map do |k, v| %>
		<p class="flash <%= k %>"><%=h v %></p>
		<% end %>

		<%= yield  %>

		<div class="pagebottom"></div>
		</div>
		<div class="footer">
			&copy; 2008 fryingdutch.net - <%= link_to "Bug gevonden?", "http://code.google.com/p/fryingdutch/issues/list", :class => "external" %>
		</div>
	</div>
</body>
</html>
