<h1>Forums</h1>
<p>
	Een inleidende beschijving etc
</p>

<%= render :partial => @boards.select { |b| b.children.count.zero? } %>

<hr class="clear" />

<% @boards.select { |b| !b.children.count.zero? }.each do |b| %>
	<% div_for b, :class => "group" do %>
		<div class="titlebar">
			<dt><%= link_to h(b.name), b %></dt>
			<dd><%= h b.description %></dd>
		</div>
		<div class="children">
		<%= render :partial => b.children %>
		</div>
	<% end %>
<% end %>
<hr class="clear" />

<%= link_to 'New board', new_board_path if current_user %>
