<%= bread_crumbs @board %>
<% div_for @board do %>
<h2><%=h @board.name %></h2>
<p class="description"><%=h @board.description %></p>
<% end %>
<% if false # current_user %>
<div>
<%= link_to 'Bewerken', edit_board_path(@board) %> 
| 
<%= link_to 'Verwijderen', @board, :confirm => "Weet u zeker dat u dit forum wilt verwijderen?", :method => :delete %>
|
<%= link_to 'Sub-forum toevoegen', board_add_path(@board) %>
</div>
<% end %>

<%= render :partial => "children" unless @board.children.count.zero? %>

<%= render :partial => "boards/topics/index" %>
