	<div class="game" id="game_<%= game.id %>">
		<h2><%=h game.name %></h2>
		<p class="description"><%=h game.description %></p>
		
		<div class="gamerating">
			<%= image_tag "star.png" %>	
			<%= image_tag "star.png" %>	
			<%= image_tag "star.png" %>	
			<%= image_tag "star_empty.png" %>	
			<%= image_tag "star_empty.png" %>	
		</div>
		
		<p class="tags">Tags: <%= game.tags.collect { |tag| link_to h(tag.name), games_by_tagname_path(tag.name) }.join ", " %></p>
		
		<ul class="game_menu">
			<li>Speler commentaar</li>
			<li>Speler groepen</li>
			<li>Meer info</li>
			<li><%= link_to_remote "Bewerken", :url => edit_game_path(game) %></li>
			<li><%= link_to_remote "Verwijderen", :url => game, :method => :delete, :confirm => "Weet u zeker dat u het spel #{game.name} wilt verwijderen?" %></li>
		</ul>
	</div>
