<div class="results">
	<p>Resultaten voor <strong><%= h params[:q] %></strong></p>

	<% if @games and @games.size > 0 %>
		<h4><%=h @games.size %> <%= @games.size > 1 ? "spellen" : "spel" %> gevonden</h4>
		<ol>
			<% @games.each do |game| %>
			<li><%= link_to hl(game.name, params[:q]), game %></li>
			<% end %>
		</ol>
	<% end %>

	<% if @members and @members.size > 0 %>
		<h4><%=h @members.size %> <%= @members.size > 1 ? "leden" : "lid" %> gevonden</h4>
		<ol>
			<% @members.each do |member| %>
			<li><%= link_to hl(member.nickname, params[:q]), member %></li>
			<% end %>
		</ol>
	<% end %>
	
</div>
