<h1>Listing discussion_topics</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Icon</th>
    <th>Body</th>
  </tr>

<% for discussion_topic in @discussion_topics %>
  <tr>
    <td><%=h discussion_topic.title %></td>
    <td><%=h discussion_topic.icon %></td>
    <td><%=h discussion_topic.body %></td>
    <td><%= link_to 'Show', discussion_topic %></td>
    <td><%= link_to 'Edit', edit_discussion_topic_path(discussion_topic) %></td>
    <td><%= link_to 'Destroy', discussion_topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New discussion_topic', new_discussion_topic_path %>
