<h1>New discussion_topic</h1>

<% form_for(@topic, :url => board_discussion_topics_path(@board)) do |f| %>
  <%= f.error_messages %>
	
	<% fields_for @topic.content do |c| %>
		<%= c.error_messages %>
	  <p>
	    <%= c.label :title %><br />
	    <%= c.text_field :title %>
	  </p>
	  <p>
	    <%= c.label :body %><br />
	    <%= c.text_area :body %>
	  </p>
  <% end %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', @board %>
